@model EC2.Chat.Models.ChatroomViewModel


@using (Html.BeginForm("Join", "Chatroom"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.PIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIN)
            @Html.ValidationMessageFor(model => model.PIN)
        </div>

        <div class="editor-label">
            Nick
        </div>
        <div class="editor-field">
            @Html.TextBox("Nick")
        </div>

        <p>
            <input type="submit" value="@Resources.LocalizedText.InitiationWindow_JoinButton" />
        </p>
}



